body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #004374;
    color: white;
    display: flex;
    align-items: center;
    height: 80px;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between; /* заменим justify-content: flex-end; на justify-content: space-between; */
    align-items: center;
    margin: 0;
    padding: 0;
}

header nav ul li {
    margin: 0 10px;
}

header nav ul li:nth-child(1) {
    margin-right: auto; /* добавим автомаргин справа для первого элемента, чтобы он располагался по левому краю */
}

header nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}
header nav ul li a.home {
    font-size: 24px;
}






.container {
    margin: 20px auto;
    max-width: 1200px;
    padding: 0 20px;
}


.table-responsive {
    overflow-x: auto;
}
table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    text-align: left;
    padding: 8px;
}
th {
    background-color: #004374;
    color: white;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
.btn {
    text-decoration: none;
    background-color: #337ab7;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
}
.btn:hover {
    background-color: #23527c;
    color: white;
}
.btn.btn-primary {
    background-color: #337ab7;
}
.btn.btn-danger {
    background-color: #d9534f;
}
.a-link {
    color: #337ab7;
    text-decoration: none;
}
.a-link:hover {
    color: #23527c;
}
img {
    max-width: 100%;
    height: auto;
}
.add-record {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.add-record button {
    background-color: #5cb85c;
}




.container_info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    margin-bottom: 30px;
    text-align: center;
}
.employee-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.employee-info img {
    width: 300px;
    height: 300px;
    margin-right: 30px;
}
.employee-info div {
    margin-left: 30px;
}

/* Error message */
div.error-message {
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    color: #721c24;
    margin: 10px 0;
    padding: 10px;
}
div.error-message li {
    margin: 5px 0;
}
