{% extends "base.html" %}
{%block title%}Add New Employee{%endblock title%}
{%block content%}
<div class="col-md-12">
    <h4>Django Crud</h4>
    <form method="POST" class="post-form" enctype="multipart/form-data" action="/update/{{employee.id}}">
        {% csrf_token%}
        <div class="container">
            <br>
            <div class="forum-group row">
                <label class="col-sm-1 col-form-label"></label>
                <div class="col-sm-4">
                    <h3>Update Details</h3>
                </div>
            </div>
            <div class="forum-group row">
                <label class="col-sm-2 col-form-label">Employee ID: </label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" name="id" id="id_id" required maxlength="20"
                           value="{{employee.id}}"/>
                </div>
            </div>
            <div class="forum-group row">
                <label class="col-sm-2 col-form-label">Employee Name: </label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" name="name" id="id_name" required maxlength="100"
                           value="{{employee.name}}"/>
                </div>
            </div>
            <div class="forum-group row">
                <label class="col-sm-2 col-form-label">Employee Email: </label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" name="email" id="id_email" required maxlength="250"
                           value="{{employee.email}}"/>
                </div>
            </div>
            <div class="forum-group row">
                <label class="col-sm-2 col-form-label">Employee Phone: </label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" name="phone" id="id_phone" required maxlength="20"
                           value="{{employee.phone}}"/>
                </div>
            </div>
            <div class="forum-group row">
                <label class="col-sm-2 col-form-label">Employee Image: </label>
                <div class="col-sm-4">

                    <span>
                        Текущий момент стоит:
                        <a href="{{ employee.image.url }}">
                            {{ employee.image }}
                        </a>
                    </span>
                    <input type="file" class="form-control" name="image" id="image"
                           value="{{ employee.image }}"/>
                </div>
            </div>
            <div class="forum-group row">
                <label class="col-sm-2 col-form-label"></label>
                <div class="col-sm-4">
                    <button type="submit" class="btn btn-success btn-lg">Update</button>
                </div>
            </div>
        </div>
    </form>
</div>
{%endblock content%}